.fix-top {
    width : 100%;
    height: 55px;
}

.logo-branch {
    font-size  : 24px !important;
    font-weight: 700;
    margin-top : -5px;
}

#seachBar {
    height    : 100%;
    margin-top: 10px;
}